
  /* Float four columns side by side */
  .kanban-column {
    float: left;
    /* width will be defined in JS code */
    /*width: 25%;*/
    padding: 10px 10px 15px;
    border-top: 5px solid #29B6F6;
    background: #fff;
    border-radius: 2px;
    margin: 1%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
  }

  .kanban-column-title {
    font-weight: bold;
    color: #607D8B;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 1.5px;
    font-size: 24px;
    height: 20px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .kanban-row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .kanban-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .kanban-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 2px;
  }

  .kanban-done-button {
    margin-left: 30px;
    padding: 3px 6px 1px;
    font-weight: bold;
    font-size: 20px;
    background: #cccccc;
    display: inline-block;
    text-align: center;
    transition: .3s background;
    color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
    cursor: pointer;
  }